image:
  repository: stratumproject/stratum-bf
  tag: 9.0.0-4.14.49-OpenNetworkLinux
  registry: docker.io
  pullPolicy: IfNotPresent
  # Optional.
  # You will need to pass docker registry credential to K8s before installing this helm chart.
  #   kubectl -n <ONOS_NAMESPACE> create secret docker-registry stratum-aether-registry-credential \
  #     --docker-server=registry.aetherproject.org --docker-username=<DOCKER_USER> --docker-password=<DOCKER_PASS>
  # pullSecrets:
  #   - stratum-aether-registry-credential

annotations:
  fluentbit.io/parser: stratum

extraParams:
  - "-max_log_size=0"
  - "-write_req_log_file=\"\""
  # For stratum-bfrt only
  # - "-read_req_log_file=\"\""
  - "-v=0"
  - "-stderrthreshold=0"

# Specify nodeSelector to pin Stratum to switches only
#
# nodeSelector:
#   node-role.test.org: switch

# Override NoSchedule for Stratum to be scheduled on switches
#
# tolerations:
#  - key: node-role.test.org
#    value: switch
#    effect: NoSchedule

# Optional
# When configured, an initContainer will fetch chassis config from given git repo and push it to Stratum
# You will need to pass git and ONOS credential to K8s first before installing this helm chart.
#   kubectl -n <STRATUM_NAMESPACE> create secret generic stratum-git-secret --from-literal=username=<GIT_USER> --from-literal=password=<GIT_PASS>
#
config:
  secretName: stratum-git-secret
#   server: gerrit.opencord.org
#   repo: aether-pod-configs
#   folder: deployment-configs/aether/apps/menlo-prd
#   review: 12345    # Optional. Must be used with config.patchset
#   patchset: 1      # Optional. Must be used with config.review
